/*
!/.gitignore
!/README.md
!/.zshrc

!/.local
/.local/*
!/.local/bin
/.local/bin/*
!/.local/bin/git
!/.local/bin/shell

!/.config
/.config/*
!/.config/alacritty
!/.config/newsboat
!/.config/nvim
!/.config/shell
!/.config/starship.toml
!/.config/lf
