__pycache__/

/*
!/.gitignore
!/README.md
!/.zshrc
!/.xinitrc
!/.scripts

!/.local
/.local/*
!/.local/bin
/.local/bin/*

!/.local/bin/sd
!/.local/bin/lf

!/.config
/.config/*

!/.config/alacritty
!/.config/wezterm
!/.config/rofimoji.rc
!/.config/git
!/.config/newsboat
!/.config/zsh
!/.config/starship.toml
!/.config/lf
!/.config/tabbed
!/.config/rofi
!/.config/qtile
!/.config/fontconfig
!/.config/autostart
!/.config/key.map

!/.config/nvim
/.config/nvim/spell

!/.config/Code
/.config/Code/*
!/.config/Code/User
/.config/Code/User/*
!/.config/Code/User/keybindings.json
!/.config/Code/User/settings.json

!/.themes
