configuration {
  modes: [ combi ];
  combi-modes: [ window, drun, run ];
}

@theme "ayu-dark"
 
/* Insert theme modifications after this */

* {
    font: "ComicCode Nerd Font 16";
}

window {
    width: 62%;
    border-color: #FF8F40;
    border: 1px;
}
