configuration {
  modi: [window,run,ssh,drun];
  modes: [ combi ];
  combi-modes: [ window, drun, run ];
}

@theme "ayu-dark"
 
/* Insert theme modifications after this */

* {
    font: "ComicCode Nerd Font 16";
}

window {
    /* width: 80%; */
    /* height: 50%; */
    width: 70.7%;
    height: 70.7%;
    background-color: argb:800a0e14;
    border-color: #FF8F40;
    border: 2px;
    margin: 2px;
    border-radius: 10px;
}
