[alias]
    amend        = "!f() { git add $1 && git commit --amend --no-edit; }; f"
    abort        = "!f() { git rebase --abort || git merge --abort; }; f"
    continue     = "rebase --continue"
    force        = "push --force"
    graph        = "! ~/.config/git/graph"
    initialize   = "!f() { git init && git commit --allow-empty -m 'Initial commit'; }; f"
    remove       = "!f() { git pull --rebase origin $1; }; f"
    remove       = "! ~/.config/git/remove"
    rename       = "!f() { git mv $1 $2 && git commit -m 'rename '$1' -> '$2''; }; f"
    rewrite      = "!f() { git rebase -i HEAD~$1; }; f"
    root         = "rev-parse --show-toplevel"
    subtree-add  = "!f() { git subtree add --prefix $2 $1 ${3:-main} --squash; }; f"
    subtree-pull = "!f() { git subtree pull --prefix $2 $1 ${3:-main} --squash; }; f"
    subtree-push = "!f() { git subtree push --prefix $1 $2 ${3:-main}; }; f"
    stats        = "! ~/.config/git/stats"
    update       = "! ~/.config/git/update"
    view         = "!f() { git show HEAD~$1; }; f"

[init]
    defaultBranch = main

[core]
    pager = delta

[pager]
    log = "batcat --style=grid"

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color
    side-by-side = true
    numbers = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[log]
    date = iso

[pull]
    rebase = true

[commit]
	gpgsign = true
